.errorsBar {
  $defaultBackgroundColor: #A0B0B9;

  margin-top: .3vw;

  .chart {
    .line {
      display: inline-block;
      height: .7vw;
      background-color: $defaultBackgroundColor;
    }
  }

  .sign {
    margin-top: 1.2em;

    .signItem {
      display: inline-block;
      font-size: .9em;

      .signMark {
        display: inline-block;
        width: .8em;
        height: .8em;
        margin-right: .4em;
        background-color: $defaultBackgroundColor;
        border-radius: 20%;
      }

      .signItemText {
        display: inline-block;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
