@import '../../index.scss';

.errorsBar {
  margin-top: .5em;

  .chartLine {
    display: inline-block;
    height: .7vw;
    background-color: $secondary-text-color;
  }

  .signItem {
    margin-top: 1.2em;
    display: inline-block;
    font-size: .9em;

    span { @include font-size($regular-font-sizes); }

    .signMark {
      display: inline-block;
      width: .8em;
      height: .8em;
      margin-right: .4em;
      background-color: $secondary-text-color;
      border-radius: 20%;
    }
  }
}
