.errorsBar {
  $defaultBackgroundColor: #A0B0B9;

  margin-top: .5em;

  .chartLine {
    display: inline-block;
    height: .7vw;
    background-color: $defaultBackgroundColor;
  }

  .signItem {
    margin-top: 1.2em;
    display: inline-block;
    font-size: .9em;

    div { display: inline-block; }

    .signMark {
      width: .8em;
      height: .8em;
      margin-right: .4em;
      background-color: $defaultBackgroundColor;
      border-radius: 20%;
    }
  }
}
