.failureStatsItem {
  display: inline-block;
  width: 33%;

  .content {
    display: inline-block;

    .title {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 1.4em;
      color: #4A4A4A;
    }

    .subTitle {
      margin: .3em 0;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      font-size: .9em;
      color: #A0B0B9;
    }
  }

  .circle {
    height: .6em;
    width: .6em;
    background-color: #8BC34A;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 1.8em;
    margin-right: .5em;
  }
}
