.app {
  padding: 2% 3%;

  .app__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    font-size: 1.5em;
    color: #4A4A4A;
    margin-bottom: 1em;
  }
}
