@import '../../index.scss';

.failure {
  display: inline-block;
  width: 33%;

  .content {
    .text {
      display: inline-block;

      .title {
        @include font-size($title-font-sizes);
        font-weight: $title-font-weight;
      }

      .subTitle {
        @include font-size($regular-font-sizes);
        margin: .3em 0;
        color: $secondary-text-color;
      }
    }
  }

  .circle {
    margin-bottom: 1.7em;
    margin-right: .4em;
    display: inline-block;
    height: .6em;
    width: .6em;
    border-radius: 50%;
    background-color: $positive-color;

    @media only screen and (max-width : 1224px) {
      display: none;
    }
  }
}
