@import '../../index.scss';

.metrics {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;

  .badge { flex-basis: 10%; }
  .main { flex-basis: 40%; }

  .main, .info {
    padding-bottom: 1em;
    border-bottom: 1px solid $light-gray-color;
  }

  .info {
    p:first-of-type { color: $secondary-text-color; }
  }


  p { @include font-size($regular-font-sizes); }

  a {
    text-decoration: none;
    color: $blue-color;
  }
}
