@import '../../index.scss';

.primaryNumber {
  margin-top: .8em;

  &_inactive { color: $secondary-text-color }

  .number {
    font-size: 1.4em;
    margin-right: .4em;
    vertical-align: middle;
    display: inline-block;
  }

  .text {
    @include font-size($regular-font-sizes);
    vertical-align: middle;
    display: inline-block;
  }
}
