.title {
  $negativeColor: #FF6A67;
  $positiveColor: #8BC34A;

  margin-bottom: .4em;
  font-family: Open Sans;
  font-style: normal;

  .text {
    font-weight: 600;
    font-size: 1.2em;
    color: #4A4A4A;
    margin-right: .6em;

    &_negative { color: $negativeColor; }
  }

  .diffBadge {
    padding: .1em .6em;
    border-radius: 1.2em;
    background-color: $positiveColor;
    color: white;
    font-size: .8em;

    &_negative { background-color: $negativeColor; }
  }
}
