@import '../../index.scss';

.title {
  margin-bottom: .4em;

  .text {
    @include font-size($title-font-sizes);
    margin-right: .6em;
    font-weight: $title-font-weight;

    &_negative { color: $negative-color; }
  }

  .growthLabel {
    @include font-size($regular-font-sizes);
    display: inline-block;
    vertical-align: text-top;
    padding: .1em .6em;
    border-radius: 1.2em;
    background-color: $positive-color;
    color: white;

    &_negative { background-color: $negative-color; }
  }
}
